.venue-list {
    margin-left: 30px;
    color: #8c8c8c;
    font-weight: 400;
    display: flex;     
}

.venue-item {
    margin-right: 30px;
}

.side-bar-title {
    font-size: 18px;
    line-height: 26px;
}
