.Real-wedd {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    
}

.Sec-Real {
    font-size: 18px;
    line-height: 26px;
    color: #8c8c8c;
}

.text-seap {
    content: '';
    border-bottom: 2px solid #dcdcdc;
    width: 100px;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 900px;
}