.round-photo {
    border-radius: 50%;
}

.round-text {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.round-main {
    margin: 0 20px 20px;
    padding: 0 25px  ;
}

.round-Next {
    border-radius: 10px;
}

.Next-main {
    padding: 50px 280px;
}

.text-next {
    margin: 0;
    padding: 15px;
}

.text-next-category {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #8c8c8c;
    display: block;
    text-align: center;
}

.next-link {

    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #202428;
    display: block;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

.next-link-art {
    color: red;
    font-weight: 600;
    font-size: 15px;    
}  

.icon-articles {
    position: relative;
    vertical-align: middle;
    top: -2px;
}