.Logo {
    width: 100px;
    margin-left: 70px;    
}

.navbar-nav {
    margin-left: 350px;
}

.sign_login {
    margin-left: 40px;
    color: red;
}

.top-bar {
    background-color: #19b5bc;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 10px 10px;
}