.Logo {
    width: 100px;
}

.sign_login {
    color: #fb1b26;
    
}

.menu-top-access {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    color: #404040;
}

.top-icon {
    width: 18px;
}

.nav-link {
    color: #202428;
    font-size: 14px;
    position: relative;
    display: block;
    font-weight: 600;
    text-decoration: none;
}