.alert {
    
    background-color: whitesmoke;
    color: #000;
    margin-top: 50px;
}

.search {
    margin-left: 15px;
}

.cu_info {
    text-align: justify;
    font-style: italic;
}

.card_title {
    font-family: monospace;
}
