.banner-img {    
    width: 100%;
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding-top: 50px;
}

.banner-para {
    font-size: 14px;
    line-height: 19px;
    margin: 15px 0 0;
    color: #fff;
}


.slider-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: #fff;
}

.slider-text {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 0;
}