.main-expert {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.text-expert {
    color: #8c8c8c;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.link-expert {
    margin-right: 0;
    display: inline-block;
    color: #fb1b26;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    margin-left: 880px;
   
}

.icon-expert {
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 0;
    
   
}