.bg-banner {
    background-image: url('../../assets/PlanBanner.jpg');
    background-size: cover;
    padding: 80px 0; 
    text-align: center;      
}

.bg-banner-One {
    background-image: url('../../assets/planBannerFooter.jpg');
    background-size: cover;
    padding: 80px 0; 
    opacity: 0.9;
    text-align: center;      
}

.bann-title {
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    
}

.bann-para {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto 20px;
    max-width: 670px;
    color: #fff;
}

